<!DOCTYPE html>
<html>
<head>
  <title>TwitterClone</title>
  <%= stylesheet_link_tag    'default', media: 'all' %>
  <%= javascript_include_tag 'default' %>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>

          
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <%= link_to "Twitter with React/Flux/Rails", root_path, class: "brand-logo"%>

      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to "Profile", "/profile" %></li>
        <li><%= link_to "Explore", "/#/follow" %></li>
        <li><%= link_to "Friends", "/#/friends" %></li>
      </ul>
    </div>
  </nav>
<div class="right">
<% if user_signed_in? %>
	Welcome
	<%= link_to current_user.display_name, "/profile" %>, 
	<%= link_to "logout", destroy_user_session_path, method: 'DELETE' %>
<% else %>
	Please <%= link_to "login", new_user_session_path %>
	or
	<%= link_to "sign up", new_user_registration_path %>
<% end %>
</div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
